body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #f5f9fa;
}



h1 {
  color: red;
  background-color: none;
  font-size: 5em;
  top: 0px;
  height: 100px;
  margin: 0;
  left: 130px;
  
  position: fixed;
  font-family: 'Aladin';
/*padding: 10px;
text-align:center;
font-size: 4em;
border-color: #D3D3D3;
  border-width: 1px;
  border-bottom-style: solid;*/

}


.quiz_area {
  
  background-color: white;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-color: #D3D3D3;
  border-width: 1px;
  border-style: solid;
  padding: 20px;

}

.question {

  text-align: center;
  font-size: 2em;
  border-color: #D3D3D3;
  border-width: 1px;
  border-bottom-style: solid;
  margin: 1px;

}

.aladin {
  font-family: 'Aladin';
  color: green;
}

.answers {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-color: #D3D3D3;
  border-width: 1px;
  border-bottom-style: solid;
  padding: 10px;

}

.answers button {

  border: 1px solid #cfcfcf;
    color: #555;
    background: #e9e9e9;
    text-decoration: none;
    line-height: 2.5em;
    font-size: 1em;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
    -webkit-box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
    box-shadow: 0 3px 1px #b1b1b1, #fafafa 0 -1px 0;
    margin: 5px;

   /* align-items: flex-start;
    text-align: center;
    cursor: default;
    color: black;
    background-color: white;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    font-size: 2em;
    margin: 10px;*/
}

.logo {
  position: fixed;
  left:0;
  top:0;
  padding-top: 0;
  padding-left: 0;
  width: 100px;
  height: 100px;
}

.diminished {
  font-size: 1em;
  font-color: red;
}

.topnav {

  top: 0px;
  height: 100px;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: f5f9fa;
  width: 1200px;
  left: 100px;
  color: black;
  vertical-align: center;
}

.topnav p {
  margin-left: 10px;
}

.topnav span {
  position: absolute;
  margin-top: 10px;
}

.topnav .search {
  position: absolute;
  left: 700px;
}

.topnav .login {
  position: absolute;
  right: 10px;
  color: green;
  font-family: 'Aladin';
  font-size: 2em;
}

.topnav a {
  text-decoration: none;

}

.right {
  position: absolute;
  right: 150px;
  color: green;
  font-family: 'Aladin';
  font-size: 2em;
  
}