body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #f5f9fa;
}



h1 {
color: red;
background-color: none;
padding: 10px;
text-align:center;
font-size: 4em;
border-color: #D3D3D3;
  border-width: 1px;
  border-bottom-style: solid;

}


.quiz_area {
  background-color: white;
  margin: 1px;
  margin-left: 100px;
  margin-right: 100px;
  border-color: #D3D3D3;
  border-width: 1px;
  border-style: solid;
  padding: 20px;

}

.question {

  text-align: center;
  font-size: 3em;
  border-color: #D3D3D3;
  border-width: 1px;
  border-bottom-style: solid;
}

.answers {

  margin-left: 150px;
  margin-right: 150px;
  border-color: #D3D3D3;
  border-width: 1px;
  border-bottom-style: solid;
  padding: 10px;

}

.answers button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: white;
    background-color: green;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    font-size: 2em;
    margin: 10px;
}

.logo {
  position: fixed;
  left:0;
  top:0;
  padding-top: 0;
  padding-left: 0;
  width: 150px;
  height: 150px;
}